.storage{
  flex-direction: column;
  text-align: right;
}
#imagelogo{
  text-align: center;
  width: 200px;
  height: auto;
  border-radius: 4px;
  
  
}
.product-grid {
   display: grid;
   grid-template-columns: 300px 300px 300px 300px;
   margin: 5px;
}

.button{
  display: flex;
  background-color: white;
  text-align: right; 
  font-size: 50px;
  padding: 1px;
  
  
  
  
}

.text-center {
  text-align: center;

}





